body{/*메인 배경*/
    margin: 0;
    background-color: white;
}

.navbar_index{/*네비게이션바의 전체적인 요소*/
    display: flex;/*화면의 크기에 따라 자동으로 바뀜*/
    justify-content: space-between;/*박스 사이 빈 공간 생성*/
    align-items: center;/*박스들을 정렬*/
    background-color: darkblue;/*배경색 지정*/
    padding: 5px 12px;
    height: 5%;
}

.navbar_logo1 a{/*왼쪽의 요소(글씨)*/
    text-decoration: none;
    font-weight: bold;
    color: orange;
}

.navbar_logo1 a:hover{/*왼쪽의 Kim 글씨에 마우스를 올리면 변경*/
    color: yellowgreen;
}

.navbar_menu1{
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar_menu1 li{
    padding: 8px 30px;
}

.navbar_menu1 li:hover{/*오른쪽의 "지도로 이동"에 마우스를 올리면 색이 변경됨*/
    color: darkblue;
    background-color: yellowgreen;
    border-radius: 3px;
}

.navbar_menu1 li a{
    text-decoration: none;
    color: white;
}

.navbar_menu1 li a:hover{
    color: black;
}

.first_img{
    height: 500px;/*높이*/
    width: max-content;/*가로*/
}

.second_img{
    height: 500px;
    width: max-content;
}

.third_img{
    height: 500px;
    width: max-content;
}

.forth_img{
    height: 500px;
    width: max-content;
}

.information{
    text-align: center;
    line-height: 25px;/*글씨들의 간격*/
}

.search_btn{/*버튼의 크기와 색 조정*/
    background-color: blue;/*버튼의 배경색*/
    color: white;/*버튼의 글씨 색*/
    width: 100px;
    height: 35px;
    font-size: 15px;
}